* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: radial-gradient(#1fe4f5, #3fbafe);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #202840;
}

a:visited {
  /* visited link */
  color: #202840;
}

a:hover,
a:focus {
  /* No decoration when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #489c79;
}

body {
  background-color: #6EC5E9;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #FF5959;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.test { 
  color: red;
}