.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
}

.navbar__link--test {
  background-color: tomato;
}

.test { 
  bottom: 0;
  position: fixed;
  width: 100%;
}
