.img-container {
  text-align: center;
}

.img {
  height: 300px;
}

.test {
  width: 250px;
  height: 470px;

}

.test2 {
  position: relative;
  height: 470px;
  text-align: center;
}

.home {
  position: absolute;
  bottom: 20px;
  width: 92%;
}

.btn-home {
  margin-left: 10px;
}